.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--cl-bg-lighter);
    width: 100%;
    border-radius: 16px;
    transform: translateY(10px);
    z-index: 999;
    overflow-y: auto;
    max-height: 50vh;
}

.moviePoster {
    max-width: 80px;
    height: auto;
    font-size: 0.6rem;
    text-align: center;
}

.movieBox {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 10px;

}

.movieBox:not(:last-child) {
    border-bottom: 1px solid var(--cl-light-grey);
}

.movieInfo {
    height: 100%;
}

.content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    gap: 1rem;
}

.movieInfo h3 {
    font-size: 1rem;
}

.movieInfo p {
    font-size: 0.8rem;
}


.actions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.5rem;
    height: 100%;
}