.section {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: auto;

}

.slider {
    --poster-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(40 * var(--poster-width));
    animation: scroll 60s infinite linear;
    position: relative;
    overflow: hidden;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc((-1 * 20) * var(--poster-width)));
    }

}


.slider img {
    width: var(--poster-width);
    height: auto;
    /* filter: brightness(1.2); */

}

.wrapper {
    position: relative;
}

.wrapper::before,
.wrapper::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}

.wrapper::before {
    background: linear-gradient(0deg, var(--cl-inverted) 1%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, var(--cl-inverted) 100%);
}

.wrapper::after {
    background: linear-gradient(180deg, var(--cl-inverted) 1%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, var(--cl-inverted) 100%);
}

/* .wrapper::before {

    background: var(--cl-inverted);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 95%, var(--cl-inverted) 100%);
}

.wrapper::after {
    background: var(--cl-inverted);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 95%, var(--cl-inverted) 100%);
} */