.wrapper {
    position: relative;

}

.avatar {
    border-radius: 100vw;
    border: 2px solid var(--cl-accent);
    width: 40px;
    height: 40px;
    background: var(--cl-accent);
    position: relative;
    cursor: pointer;
    z-index: 1000;
}

.avatar img {
    border-radius: 100vw;
}

.avatar>p {
    color: var(--cl-text);
    text-decoration: none;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-weight: 800;
}

.settings div:first-child {
    color: var(--cl-light-grey);
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.name {
    color: var(--cl-text);
    font-weight: 600;
}

.settingsWrapper {
    position: relative;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    min-height: 120px;
    z-index: 1000;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
    background: var(--cl-bg-lighter);
    border-radius: 8px;
    border: 1px solid var(--cl-accent);
    -webkit-box-shadow: -1px 7px 19px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 7px 19px 1px rgba(0, 0, 0, 0.7);
    box-shadow: -1px 7px 19px 1px rgba(0, 0, 0, 0.7);

}

.overlay {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    pointer-events: none;
}