.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--cl-bg-lighter);
    width: 100%;
    border-radius: 16px;
    transform: translateY(10px);
    z-index: 999;
    overflow-y: auto;
    max-height: 50vh;
    -webkit-box-shadow: 0px 8px 8px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 8px 8px 4px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 8px 8px 4px rgba(0, 0, 0, 0.8);
}

.moviePoster {
    max-width: 80px;
    height: auto;
    font-size: 0.6rem;
    text-align: center;
    border-radius: 6px;
}

.movieBox {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 10px;

}

.movieBox:not(:last-child) {
    border-bottom: 1px solid var(--cl-light-grey);
}

.movieInfo {
    height: 100%;
}


.content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    gap: 1rem;
}

.movieInfo h3 {
    color: var(--cl-main-text);
    font-size: 1rem;
    margin-right: 10px;
}

.movieInfo p {
    font-size: 0.8rem;
}

.movieDetails {
    font-size: 0.7rem;
    color: var(--cl-light-grey);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 5px;
}

.movieDetails p {
    display: flex;
    align-items: center;
    gap: 3px;
}

.actions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.5rem;
    height: 100%;
}