.wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.wrapper input {

    width: 100%;
    align-self: center;
    background: none;
    border-radius: 16px;
    border: 2px solid var(--cl-accent);
    color: var(--cl-text);
    padding: 0.5rem 1rem;


}

.magnifier {
    top: 12px;
    right: 15px;
    position: absolute;
    width: 16px;
    height: 16px;
}

.wrapper input:focus~.magnifier {
    color: var(--cl-accent)
}