.movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 154px);
    width: 100%;
    gap: 1rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* margin: 0 auto; */
    /* gap: 1rem; */
    align-content: center;


}


.cardWrapper {
    --card-border-radius: 8px;
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    margin-bottom: 1.5rem;
    /* min-height: 288.59px; */

}

.poster {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

}

.poster img {
    border-radius: var(--card-border-radius);
    height: auto;
    margin-bottom: auto;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.notFound {
    min-height: 231px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cl-bg-lighter);
    text-align: center;
    width: 154px;
    height: 100%;
    border-radius: var(--card-border-radius);
    font-size: 0.8rem;
}

.poster::after {
    border-radius: var(--card-border-radius);
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.poster:hover::after {
    opacity: 1;
}


.poster:hover .btnsWrapper {
    pointer-events: unset;
    opacity: 1;
}


.infoWrapper h3 {

    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    max-width: 150px;
    margin-bottom: auto;
}

.infoWrapper p {
    font-size: 10px;
}

.btnsWrapper {
    position: absolute;
    align-self: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}



@media (max-width: 768px) {
    .movieGrid {
        justify-content: center;
    }
}