/* Btns */

.btn {
    background: none;
    border: none;
    color: var(--cl-accent);
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 0;
    cursor: pointer;
}

.btn svg {
    font-size: 2rem;
    color: var(--cl-accent);
    color: inherit;
}

.btn:hover,
.link:hover {
    color: var(--cl-sec-accent);
}

.link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--cl-accent);
    font-size: 0.8rem;
}