/* Btns */

.btn {
    background: none;
    border: none;
    color: var(--cl-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
    cursor: pointer;
    font-weight: 600;
}

.btn svg {
    color: var(--cl-accent);
    color: inherit;
}

.btn:hover {
    color: var(--cl-accent);
}

.btn.contrast {
    color: white;
}

.btn.contrast:hover {

    color: var(--cl-accent);
}