.wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.wrapper h2 {
    font-size: clamp(2rem, 3vw, 3rem);
}

.wrapper>div {
    /* flex-basis: 100%; */
}

.firstColumn {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.secondColumn {
    flex-basis: 60%;
}

.secondColumn {
    position: relative;
}

.secondColumn img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.secondColumn div {
    position: absolute;
    top: 0px;
    right: 30%;
    width: 200px;
    height: auto;
    border-radius: 5px;
    transition: all 1s ease;
}

.secondColumn div:nth-child(2) {
    transform: translate(80px, 100px);
}

.secondColumn div:nth-child(1n):after {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: var(--cl-accent);
    opacity: 0.3;
    filter: blur(100px);
    z-index: -1;
}

.secondColumn div:nth-child(2):hover {
    z-index: 1000;
    transform: scale(1.2) translate(80px, 100px);
}

.secondColumn div:nth-child(1):hover {
    z-index: 1000;
    transform: scale(1.2);
}