.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav ul a {
    color: var(--cl-accent);
    color: var(--cl-main-text);
    text-decoration: none;
    font-size: 0.9rem;
}

.nav ul li>a:hover {
    color: var(--cl-sec-accent);
}