:root {
    --cl-bg: #141414;

}

body.darkTheme {

    --cl-bg: #070707;
    --cl-bg-lighter: #010814;
    --cl-accent: #F72585;
    --cl-sec-accent: #7e47ff;
    --cl-text: #ebebeb;
    --cl-light-grey: #c7c7c7;
    --cl-inverted: var(--cl-bg);
}


body.lightTheme {
    --cl-bg: #f5f5f5;
    --cl-bg-lighter: #ffffff;
    --cl-accent: #F72585;
    --cl-sec-accent: #7e47ff;
    --cl-text: #050505;
    --cl-light-grey: #808080;
    --cl-inverted: var(--cl-bg);
}



body {
    background: var(--cl-bg);
    color: var(--cl-text);
    font-family: 'Inter';
}

body.dark {
    background: white;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 80%
}

@media (max-width: 780px) {
    .container {
        width: 100%;
        padding-inline: 1rem;
    }
}