:root {
    /* Dark */
    --cl-bg: #0a0a0a;
    --cl-bg-lighter: #010814;
    --cl-accent: #F72585;
    --cl-sec-accent: #7e47ff;
    --cl-main-text: #FFFFFF;
    --cl-light-grey: #c7c7c7;

}

body {
    background: var(--cl-bg);
    color: var(--cl-main-text);
    font-family: 'Inter';
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 80%
}

@media (max-width: 780px) {
    .container {
        width: 100%;
        padding-inline: 1rem;
    }
}